---
page_title: "Provider: NPS"
description: |-
  The NPS provider allows managing a Workshop instance.
---

# {{ .ProviderShortName | upper }} Provider

The NPS provider allows managing a North Pole Security Workshop instance using
Terraform.

At present, the provider is limited to managing API keys and Rules but other
resources will be added in the future.

Use the navigation to the left to read about the available resources.

## Example Usage

### With short-lived access tokens

{{ tffile "examples/provider/provider.tf" }}

If no API key is provided, the provider will default to using short-lived access
tokens.

The provider itself is capable of creating these tokens by passing the
`-login` flag to the provider binary. If you attempt to use the provider without
an API key and with no token available, it will print an error string including
the full command to run to login. Running this command will print a URL and open
a browser to a login page for your Workshop instance and ask you to confirm the
device code. Once confirmed the provider will retrieve the token and store it
for future Terraform invocations. You will need to repeat this process if the
token expires.

The generated token will have the same permissions as the user that logs in.

### With API keys

{{ tffile "examples/provider/provider_with_api_key.tf" }}

{{ .SchemaMarkdown | trimspace }}

